<h1>Teams index</h1>
{% for dev in teams  %}
    <div class="container-skill">
        <h3 class="skill-name">{{ dev.name }}</h3>
        <div class="skill-action">
            <div class="skill-edit"
                 onclick="window.location.href = '{{ path('admin_team_edit', {'team': dev.id}) }}';"
            >
                Edit
            </div>
            {{ include('team/_delete_form.html.twig') }}
        </div>
    </div>
{% endfor %}

<div class="new-skill" onclick="window.location.href = '{{ path('admin_team_new') }}';">Add Dev</div>
