{% extends 'base.html.twig' %}

{% block body %}
    <video autoplay loop poster="uploads/images/js.png" id="bgvid">
        <source src="uploads/videos/code.mp4" type="video/mp4">
    </video>
    <div class="index">
        <div class="login">
            <a href="#login"><i class="fas fa-terminal"></i></a>
        </div>
        <div class="index-title">
            <div class="index-title-skill">
                <img src="uploads/images/js-white.png" alt="">
                <img src="uploads/images/python-white.png" alt="">
                <img src="uploads/images/react-white.png" alt="">
                <img src="uploads/images/sf-white.png" alt="">
            </div>
            <h1>
                Full stack developpeur <br>
                Living in savoie<br>
                now available for you <span id="pipe">|</span>
            </h1>
        </div>

    </div>

{% endblock %}
